/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navMenu {
  display:flex;
  margin-left:5%;
  gap:5%;
  justify-content:space-between;
  align-items:space-between;
}
 .dropdown{
/*   margin:2%;  */
  padding:1%;
}

.navMenu>div, .navMenu>div+input, .navMenu>div+input+h2, .navMenu>div+input+h2+img, .navMenu>div+input+h2+ul{
  flex-direction:row;
  display:inline-flex;
}
input{
  margin-top:10%;
  padding:2%;
}
.image{
  width:60%;
}
img{
 width:18%;
  margin-bottom:-6%;
  margin-top:3%;
}
/*new CSS flexbox specification */
ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 60%;
    margin: 1.2% 20% 0  0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}
li a{
   text-decoration:none;
}
/*Old CSS method: text-align: justify
ul {
    font-size: 0; Eliminate spacing between inline block elements
    text-align: justify;
    width: 100%;
    background: #cacaca;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul:after {
    content: 'abc';
    display: inline-block;
    width: 100%;
    height: 0;
}
li {
    display: inline-block;
    background: #fafafa;
    font-size: 1rem;
Reuse root element's font size
}
p {
    font-size: 1rem;
}*/
.main{
  display:flex;
  align-items:stretch;
  justify-content:flex-end;
}
.item-left{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  flex:50%;
  flex:1;
  flex-wrap:no-wrap;
  margin:8% 15% 0 20%;
}
#picture{
  width:100%;
}
.item-right{
  flex-direction column;
  flex:2;
   flex-wrap:no-wrap;
 margin:15%  0%;
}
.sub-right{
  padding:2%;
}

h1{
  font-size:2rem;
}
p{
  font-size:1.2rem;
}
.button{
  width:20%;
  margin:2%;
  background:blue;
  color:white;
  padding:2%;
  border-radius:10%;
}

@media (max-width: 800px) {
  .navMenu{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding:0%;
    flex:20%;
    width:50%;
    gap:2%;
  }
  input{
    padding:0%;
    margin-top:-2%;
  }
  .image{
    width:50%;
    padding:0%;
  }
  ul{
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    width:30%;
  }
  .item-right, .item-left {
    flex: 100%;
    flex-direction:column;
  }
  .dropdown{
    padding:-1%;
    font-size:1rem;
  }
  input{
    padding:0%;
  }
}
